<html>
    <head>
        <title>DEBUG</title>
    </head>
    <body>
        <h1>Request Debug</h1>
        <p>You issued a debug request. This request got logged. Details can be found below and in the server console.</p>
        <hr>
        <p>
            <table>
                <tr>
                    <th>Request</th>
                    <th>Body</th>
                    <th>Query</th>
                </tr>
                <tr>
                    <td>%%REQUEST%%</td>
                    <td>%%BODY%%</td>
                    <td>%%QUERY%%</td>
                </tr>
            </table>
        </p>
        <hr>
        <h5>
            Below you can find a detailed dump of your request in YAML.
        </h5>
        <p>%%YAML%%</p>
        <hr>
        <h5>
            Below you can find a detailed dump of your request in MARSHALL.
        </h5>
        <p>%%MARSHALL%%</p>
    </body>
</html>