<h1 matBadge="V">Profil</h1>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{data$['vorname']}} {{data$['nachname']}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{data$['profpic_url']}}" alt="Profilepicture">
  <mat-card-content>
    <h2>General Information</h2>
    <mat-slide-toggle checked="checked">Active advertisement</mat-slide-toggle>
    <mat-form-field appearance="fill">
      <mat-label>Date of birth</mat-label>
      <input matInput value="{{data$['geburtsdatum']}}">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker ></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>E-Mail</mat-label>
      <input matInput value="{{data$['email']}}">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Profession</mat-label>
        <select matNativeControl>
          <option value="student">{{data$['beschreibung']}}</option>
        </select>
    </mat-form-field>

    <h2>Your social facts</h2>
    <h3>General</h3>
    <section class="example-section">
      <mat-checkbox class="example-margin" checked="checked">non-smoking</mat-checkbox>
      <mat-checkbox class="example-margin">non-drinking</mat-checkbox>
      <mat-checkbox class="example-margin">animals</mat-checkbox>
    </section>
    <section class="example-section">
      <mat-checkbox class="example-margin" checked="checked">extroverted</mat-checkbox>
      <mat-checkbox class="example-margin" checked="checked">convivial</mat-checkbox>
    </section>
    <h3>Hobbies</h3>
    <section class="example-section">
      <mat-checkbox class="example-margin" checked="checked">video games</mat-checkbox>
      <mat-checkbox class="example-margin" checked="checked">fitness</mat-checkbox>
      <mat-checkbox class="example-margin" checked="checked">golf</mat-checkbox>
    </section>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>EDIT</button>
    <button mat-button>FEEDBACK</button>
    <button mat-button>DEACTIVATE</button>
  </mat-card-actions>
</mat-card>
