.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://cdn.cubuzz.de/static/peter.png');
  background-size: cover;
}

.example-margin {
  margin: 0 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
