<div class="start" *ngIf="!currentdata$ || index < 0" >
<button (click)="nextdata()" mat-fab color="accent">
  <mat-icon *ngIf="index < 0">play_arrow</mat-icon>
  <mat-icon *ngIf="index > 0">replay</mat-icon>
</button><br><br>
<p *ngIf="index > 0">You reached the end.</p>
<p>Before you start <span *ngIf="index > 0">again</span> you may want to edit your filter and preferences <a href="/filter">here</a>.</p>

</div>
<mat-card class="card" *ngIf="currentdata$">

    <mat-card-header>
        <mat-card-title>{{currentdata$.stadt}} - {{currentdata$.addresse}}</mat-card-title>
        <mat-card-subtitle>Match Score: {{currentdata$.match_score}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="img" src="{{currentdata$.prev_img[0]}}">
      <mat-card-content>
        <p class="text">
          {{currentdata$.beschreibung}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button (click)="openDialog()" color="accent">Details</button>
        <button mat-button id="share"><span class="material-icons">
            share
            </span></button>
      </mat-card-actions>

</mat-card>

<div class="bottom" *ngIf="currentdata$">
  <div class="row">
    <div class="col">
      <button (click)="nextdata1()" mat-fab color="primary" aria-label="No">
        <mat-icon>thumb_down</mat-icon>
      </button>
    </div>
    <div class="col">
      <button (click)="nextdata2()" mat-fab color="accent" aria-label="Yes">
        <mat-icon>thumb_up</mat-icon>
      </button>
  </div>
</div>