<mat-card class="card">

    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="img" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="accent">Details</button>
        <button mat-button id="share"><span class="material-icons">
            share
            </span></button>
      </mat-card-actions>

</mat-card>

<p>{{data$}}</p>

<div class="d-flex justify-content-center">
    <div class="row">
      <div class="col">
        <a href="/chat"><span class="material-icons">
            keyboard_arrow_left
            </span></a>
      </div>
      <div class="col">
        <a href="/home">
            <span class="material-icons">
                info
                </span></a>
      </div>
      <div class="col">
        <a href="/filter"><span class="material-icons">
            keyboard_arrow_right
            </span></a>
      </div>
    </div>
  </div>


<button (click)="test()">TEST</button>