<mat-card class="card">

    <mat-card-header>
        <mat-card-title>{{currentdata$.title}}</mat-card-title>
        <mat-card-subtitle>{{currentdata$.type}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="img" src="{{currentdata$.imgurl}}" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{currentdata$.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="accent">Details</button>
        <button mat-button id="share"><span class="material-icons">
            share
            </span></button>
      </mat-card-actions>

</mat-card>




<div class="d-flex justify-content-center">
  <div class="row">
    <div class="col">
      <button (click)="nextdata()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon>thumb_down</mat-icon>
      </button>
    </div>
    <div class="col">
      <button (click)="nextdata()" mat-fab color="accent" aria-label="Example icon button with a delete icon">
        <mat-icon>thumb_up</mat-icon>
      </button>
  </div>
</div>