#image-anna {
  background-image: url('img/Anna.png');
  background-size: cover;
}

#image-jannis {
  background-image: url('img/Jannis.png');
  background-size: cover;
}

#image-timo {
  background-image: url('img/Timo.png');
  background-size: cover;
}

.onetextline {
  padding-bottom: 1rem;
}
