<h1>Chat</h1>

<mat-card  class="example-card">
  <mat-card-header>
    <div mat-card-avatar matBadge="1" id="image-anna"></div>
    <mat-card-title>Anna Keller</mat-card-title>
    <mat-card-subtitle class="onetextline">Message:  Hi, it seems like I'm looking for...</mat-card-subtitle>
    <button mat-button><mat-icon aria-hidden="false" aria-label="Example home icon" color="primary">message</mat-icon></button>
    <button mat-button><mat-icon aria-hidden="false" aria-label="Example home icon" color="primary">delete</mat-icon></button>
  </mat-card-header>
</mat-card>
<br>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar id="image-timo"></div>
    <mat-card-title>Timo Meier</mat-card-title>
    <mat-card-subtitle class="onetextline">Message:  Ok, that sounds great!...</mat-card-subtitle>
    <button mat-button><mat-icon aria-hidden="false" aria-label="Example home icon" color="primary">message</mat-icon></button>
    <button mat-button><mat-icon aria-hidden="false" aria-label="Example home icon" color="primary">delete</mat-icon></button>
  </mat-card-header>
</mat-card>
<br>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar matBadge="2" id="image-jannis"></div>
    <mat-card-title>Jannis Himmel</mat-card-title>
    <mat-card-subtitle class="onetextline">Message:  I am happy to get to know you...</mat-card-subtitle>
    <button mat-button><mat-icon aria-hidden="false" aria-label="Example home icon" color="primary">message</mat-icon></button>
    <button mat-button><mat-icon aria-hidden="false" aria-label="Example home icon" color="primary">delete</mat-icon></button>
  </mat-card-header>
</mat-card>
